/* 本体用のスタイル */
#head {
  width: 100%;
  text-align: center;
  display: none;
}


#body {
  width: 100%;
  text-align: center;
  display: none;
}


/* Loading Block */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  animation: fadein-keyframes 5s ease 0.2s 1 forwards;
}

.spinner {
  /* width: 100px;
  height: 300px; */
  margin: 300px auto;
  content: '';
  /* position: absolute; */
  left: 0;
  bottom: 0;
  border-bottom: solid 0.1px #000;
  animation: border_anim 1.5s linear forwards;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

#title {
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  /* font-family: serif; */
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 1em 0;
  /* フェードイン */
  animation: fadeIn 12s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

#title .album {
  width: 500px;

	margin: auto;
	background-color: white;
	position: relative;
}

#title .album img {
	width: 50%;
	animation-name: album;
	-webkit-animation-name: album;
	animation-duration: 30s;
	-webkit-animation-duration: 30s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	opacity: 0;
}

#title .album .img1 {
	display: block;
	margin: 0 auto;
}
  
#title .album .img2 {
	animation-delay:15s;
	-webkit-animation-delay:15s;
	position: absolute;
	top: 0;
	left: 25%;
}

@keyframes album {
	0% {
		opacity: 0;
	}
	
	12.5% {
		opacity: 1;
	}

	37.5% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

@-webkit-keyframes album {
	0% {
		opacity: 0;
	}
	
	12.5% {
		opacity: 1;
	}

	37.5% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

/* タイトル 文字 css*/
/* #title span {
  text-align: left;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  display: inline-block;
  font-size: 35px;
} */

/* message */
.text{
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 15px;
  /* width: 100%; */
  text-align:left;
  height: 500px;

  /* margin: auto; */
  margin-top: 30px;
  margin-bottom: 50px;

  animation: fadeIn 5s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: serif;
}

p {
  font-size: 20px;
  margin: auto;
}

.back_style {
  /* background-color: #f9f9f9;背景色 */
  margin-bottom: 150px;
  animation: fadeIn 5s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

#contents {
  /* height: 200px; */
  width: 100%;
  /* 横並び */
  display: flex;
  /* margin: auto; */
  /* background-color: #f9f9f9;背景色 */
}

#contents .body {
  /* margin-left: 50px;
  margin-right: 50px; */
  /* margin-top: 30px; */
  margin: auto;
}

#contents .img {
  margin-top: 10px;
  /* 角丸半径を50%にする(=円形にする) */
  border-radius: 50%;
  /* ※縦横を同値に */
  width: 120px;
  /* ※縦横を同値に */
  height: 120px;
}


/* modal-window */
.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
  text-align: center
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 30px 30px 15px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle
}

.modal-wrapper .modal-window .modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8)
}

.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c !important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0
}

.modal-wrapper .modal-close:hover {
  color: #2b2e38 !important
}

.contact {
  font-family: serif;
  font-size: 15px;
  /* margin: auto; */
  margin-top: 100px;
  margin-bottom: 100px;
}